<app-header [titulo]="titulo || 'Alert'"></app-header>

<ion-content>
  <h1>Estas son Alertas</h1>
  <ion-button expand="full" color="primary" (click)="cambiarTitulo()">
    Cambiar Titulo
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlert()">
    presentAlert
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlertMultipleButtons()">
    presentAlertMultipleButtons
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlertConfirm()">
    presentAlertConfirm
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlertPrompt()">
    presentAlertPrompt
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlertRadio()">
    presentAlertRadio
  </ion-button>

  <ion-button expand="full" color="primary" (click)="presentAlertCheckbox()">
    presentAlertCheckbox
  </ion-button>

</ion-content>
