<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar>
      <img src="/assets/dragon.jpg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide class="slide-1">
      <h1>Awesome Slide Content 1</h1>
    </ion-slide>
    <ion-slide class="slide-2">
      <h1>Awesome Slide Content 2</h1>
    </ion-slide>
    <ion-slide class="slide-3">
      <h1>Awesome Slide Content 3</h1>
    </ion-slide>
    <ion-slide class="slide-4">
      <ion-button (click)="onClick()" expand="block" shape="round">
        Volver
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
